<div id="content" style="padding-left: 48px" >
  <% @articles.each do |article| %>
    <%= link_to article.title, article_path(article), class:"title" %>
    <p><%= article.content %></p>
  <% end %>
</div>
